mixin h1(label, color="")
    div(class="h1 text_" + color)=label

mixin h2(label, color="")
    div(class="h2 text_" + color)=label

mixin h3(label, color="")
    div(class="h3 text_" + color)=label

mixin h4(label, color="")
    div(class="h4 text_" + color)=label

mixin h5(label, color="")
    div(class="h5 text_" + color)=label

mixin h6(label, color="")
    div(class="h6 text_" + color)=label

mixin text(label, color="")
    span(class="text text_"+color)=label